<app-nav [links]="[{ link : 'batch/list', name : 'View Batches'},{ link : 'batch/new', name : 'Create Batch'},{ link : 'ingredients/list', name : 'View Ingredients'}]"></app-nav>
<div *ngIf='ingredientErrors.length'>
  <ul class="alert alert-danger">
    <li *ngFor='let error of ingredientErrors'>{{error}}</li>
  </ul>
</div>
{{errorMsg}}
<legend>Add an Ingredient (all fields required):</legend>

<form (submit)='onSubmit($event, form) || form.reset()' #form='ngForm'>
  <div>
    <label for="name">Ingredient Name:</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="ingredient.name" required>
  </div>
  <div>
    <label for="supplier">Supplier:</label>
    <input type="text" name="supplier" #supplier="ngModel" [(ngModel)]="ingredient.supplier" required>
  </div>
  <div>
    <label for="supplierLotNo">Supplier Lot Number:</label>
    <input type="text" name="supplierLotNo" #supplierLotNo="ngModel" [(ngModel)]="ingredient.supplierLotNo" required>
  </div>
  <div>
    <label for="shippingTrackingNo">Shipping Tracking Number:</label>
    <input type="text" name="shippingTrackingNo" #shippingTrackingNo="ngModel" [(ngModel)]="ingredient.shippingTrackingNo" required>
  </div>
  <div>
    <label for="shippingSignedFor">Shipment Signed For By:</label>
    <input type="text" name="shippingSignedFor" #shippingSignedFor="ngModel" [(ngModel)]="ingredient.shippingSignedFor" required>
  </div>
  <div>
    <label for="amount">Amount:</label>
    <input type="number" name="amount" #amount="ngModel" [(ngModel)]="ingredient.amount" required>
  </div>
  <div>
    <label for="amountType">Amount Type:</label>
    <select name="amountType" #amountType="ngModel" [(ngModel)]="ingredient.amountType" required>
      <option value="kg">Kilogram</option>
      <option value="g">Gram</option>
      <option value="lb">Pound</option>
      <option value="oz">Ounce</option>
    </select>
  </div>
  <img [src]="fileDataUri">
  <form (submit)="uploadFile($event)">
    <input type="file" (change)="previewFile()" #fileInput>
    <button type="submit" [disabled]="fileDataUri.length===0">Upload</button>
  </form>
  <button type="submit" [disabled]="form.invalid">Add Ingredient</button>
</form>

<!-- <button routerLink="/home">Back</button> -->