<app-nav [links]="[{ link : 'batch/list', name : 'View Batches'},{ link : 'ingredients/list', name : 'View Ingredients'},{ link : 'ingredients/new', name : 'New Ingredient'}]"></app-nav>

<div *ngIf='batchErrors.length'>
  <ul class="alert alert-danger">
    <li *ngFor='let error of batchErrors'>{{error}}</li>
  </ul>
</div>
<form (submit)='createBatch($event, batch)' #batch='ngForm'>
  <div class='form-control'>
    <label for="barCount">Bar Count:</label>
    <input type="number" name="barCount" #barCount='ngModel' [(ngModel)]="batch.barCount" value='0'>
  </div>
  <table *ngIf='batchIngredients.length!==0'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount Used</th>
        <th>Supplier</th>
        <th>Info</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of batchIngredients'>
        <td>{{ item.ingredient._id }}</td>
        <td>{{ item.ingredient.name }}</td>
        <td>{{ item.amount }} {{ item.ingredient.amountType }}</td>
        <td>{{ item.ingredient.supplier }}</td>
        <td><a (click)='getInfo($event, item.ingredient)'><img src="/assets/open-iconic-master/svg/info.svg" alt="i"></a></td>
        <td><a (click)='removeIngredient($event, item.ingredient._id)'>-</a></td>
      </tr>
    </tbody>
  </table>
  <button [disabled]='batchIngredients.length===0'>Create Batch</button>
</form>
<legend>Add Ingredient:</legend>
<select name="test" [(ngModel)]="ingredientToAdd">
  <option *ngFor='let ingredient of ingredients, let idx = index' [ngValue]='ingredient'>{{ ingredient.name }} - {{ ingredient.supplier }}</option>
</select>
<input type="number" [(ngModel)]="amountToUse" (keyup.enter)='addIngredient($event)'>
{{ ingredientToAdd.amountType }}
<button (click)='addIngredient($event)'>Add</button>
