<section>
    <app-nav [links]="[{ link : 'batch/new', name : 'Create Batch'},{ link : 'ingredients/list', name : 'View Ingredients'},{ link : 'ingredients/new', name : 'New Ingredient'}]"></app-nav>
</section>
<section>
    <table class="table thead-light table-striped table-bordered table-hover table-sm">
        <thead>
            <tr>
                <td>Batch ID</td>
                <td># of Bars</td>
                <td>Created</td>
                <td>Status</td>
                <td>Info</td>
                <td>Edit</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let item of batch'>
                <td>{{ item._id }}</td>
                <td>{{ item.barCount }}</td>
                <td>{{ item.createdAt }}</td>
                <td>{{ item.status }}</td>
                <td><img style="width : 16px; height: 16px;" src="/assets/open-iconic-master/svg/info.svg" alt="i" (click)='populateModal($event, item)' data-toggle="modal" data-target="#exampleModal"></td>
                <td><span [routerLink]='["/batch/edit", item._id]'>Edit</span></td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <!-- <div class="myModal">test</div> -->
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Batch #: {{ modal._id }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Status: {{ modal.status }}</p>
                    <p>Number of Bars Made: {{ modal.barCount }}</p>
                    <table class="table thead-light table-striped table-bordered table-hover table-sm">
                        <thead>
                            <tr>
                                <td>Ingredient ID</td>
                                <td>Name</td>
                                <td>Supplier</td>
                                <td>Amount in Batch</td>
                                <td>Created At</td>
                                <td>Used</td>
                                <td>Recalled</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let item of modal.ingredients'>
                                <td>{{ item._ingredientId._id }}</td>
                                <td>{{ item._ingredientId.name }}</td>
                                <td>{{ item._ingredientId.supplier }}</td>
                                <td>{{ item.amount}} of {{item._ingredientId.amount }} {{ item._ingredientId.amountType }}</td>
                                <td>{{ item._ingredientId.createdAt | date:'short'}}</td>
                                <td>{{ item._ingredientId.used }}</td>
                                <td>{{ item._ingredientId.recalled }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
</section>